# Connect to Postgres via the shared transaction-mode pooler
DATABASE_URL="postgresql://postgres.[TU-ID-PROYECTO]:[TU-PASSWORD]@[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler
DIRECT_URL="postgresql://postgres.[TU-ID-PROYECTO]:[TU-PASSWORD]@[REGION].pooler.supabase.com:5432/postgres"

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL="https://[TU-ID-PROYECTO].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="tu_anon_key_aqui"